 .vagrant
 Dockerfile_*
 bes-install-accept.rsp

besserver/remotedb/license/*.crt
besserver/remotedb/license/*.pvk
besserver/remotedb/license/*.afxm
besserver/remotedb/license/*.BESLicenseAuthorization

besserver/commmon/ibm-yum.sh
